<li class="list-group-item" *ngFor="let subcategory of categories">
    <div class="category-header d-flex align-items-center">
        <a role="button" data-bs-toggle="collapse" data-bs-target="#subcategory" class="category-header-link flex-fill">
            {{ subcategory.name }}
        </a>
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a style="cursor: pointer;" class="dropdown-item" (click)="onEditCategory(subcategory.id)">Edit</a></li>
                <li><a style="cursor: pointer;" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onDeleteCategory(subcategory.id)">Delete</a></li>
            </ul>
        </div>
    </div>
    <div id="subcategory" *ngIf="subcategory.subcategories.length > 0">
        <app-recursive [categories]="subcategory.subcategories"></app-recursive>
    </div>
</li>